PORT=4000
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=progress_tracker
JWT_SECRET=change-this-to-a-long-random-string
VAPID_PUBLIC_KEY=BDKwaXsatp_cnVVFxJw6bO-3k2dR25aQvAfUP8vp4dBRQMkUllIDSAP39AUK9Zuq-6eowM2SpCMbda6NUcqeg5Y
VAPID_PRIVATE_KEY=QMkUllIDSAP39AUK9Zuq-6eowM2SpCMbda6NUcqeg5Y
